[DEFAULT]
main-repo = gentoo

[gentoo]
location = /usr/portage
auto-sync = yes
sync-user = portage:portage
{% if power_master == true %}
sync-type = git
sync-uri = https://anongit.gentoo.org/git/repo/sync/gentoo.git
{% else %}
sync-type = rsync
sync-uri = rsync://master.power.qgp.io/gentoo-portage
{% endif %}
